<html>
    <head>
        <link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='css/index.css') }}">
        <title>title</title>
    </head>
    <body>
        <div>
            <canvas class="webGlCanvas" id="chart_canvas" width="800" height="700"></canvas>
        </div>

    <script type=text/javascript
        src="{{ url_for('static', filename='scripts/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='scripts/glMatrix-0.9.5.min.js') }}"></script>
    <script type=text/javascript
        src="{{ url_for('static', filename='scripts/webgl_helpers.js') }}"></script>

    <script id="shader-fs" type="x-shader/x-fragment">
        precision mediump float;
        uniform vec3 uColor;
        uniform float uOpacity;

        void main(void) {
            gl_FragColor = vec4(uColor.rgb*uOpacity,uOpacity);
        }
    </script>

    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 aVertexPosition;

        uniform mat4 uMVMatrix;
        uniform mat4 uPMatrix;

        void main(void) {
            gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
        }
    </script>

    <script type="text/javascript">
        var chartContext;
        var aLine;

        function _create_line(gl, points) {
            var line = gl.createBuffer();

            if (typeof(points) === "undefined") {
                points = [];
            }
            line.points = points;

            gl.bindBuffer(gl.ARRAY_BUFFER, line);
            gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(line.points), gl.STATIC_DRAW);
            line.itemSize = 3;
            line.numItems = line.points.length/3;

            return line;
        }


        function createContext(canvas) {
            var gl  = glHelper.initContext(canvas[0]);

            var shaderProgram = glHelper.initShaders(gl, 'shader-fs', 'shader-vs');
            shaderProgram.opacityUniform = gl.getUniformLocation(shaderProgram, "uOpacity");
            gl.shaderProgram = shaderProgram;
            gl.disable(gl.DEPTH_TEST);
            gl.enable(gl.BLEND);
            gl.blendFunc(gl.SRC_ALPHA, gl.ONE_MINUS_SRC_ALPHA);
            gl.render = function(){drawShapes(gl)};
            gl.viewport(0, 0, gl.viewportWidth, gl.viewportHeight);
            gl.clearColor(0.0, 0.0, 0.0, 0.0)
            gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
            
            return gl;
        }


        function _draw_line(gl,line) {
            gl.uniform1f(gl.shaderProgram.opacityUniform,1.0);
            gl.uniform3f(gl.shaderProgram.colorUniform,1.0,1.0,0.0);

            gl.vertexAttribPointer(
                    gl.shaderProgram.vertexPositionAttribute, 
                    line.itemSize, gl.FLOAT, false, 0, 0);

            gl.drawArrays(
                    gl.LINE_STRIP,0,line.numItems);
        }

        function drawShapes(gl) {
            var mvMatrix = mat4.create()
            var pMatrix = mat4.create()
            mat4.perspective(45, gl.viewportWidth / gl.viewportHeight, 0.1, 100.0, pMatrix);

            var offset = {x: 0.0, y: 0.0};
            var zoomLevel = -1.0;
            mat4.identity(mvMatrix);
            mat4.translate(mvMatrix, [offset.x, offset.y, zoomLevel])
            glHelper.setMatrixUniforms(gl, pMatrix, mvMatrix);

            _draw_line(gl, aLine);
        }


        function _get_line() {
            $.ajax({
                url: '{{ url_for('.getLine', _external=True) }}',
                type: 'POST',
                data: {
                    line_id: 'unk'
                }
            }).done(function(response) {    
                aLine = _create_line(chartContext,response.points);
                chartContext.render();
            }).fail(function() {
                alert('failed to load line data')
            });
        }

        function _doc_ready() {
            chartContext = createContext($('#chart_canvas'));
            _get_line();
        }

        $(document).ready(_doc_ready);

    </script>
    </body>
</html>
